@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-gradient {
  background: #62cdff;
  background: linear-gradient(-90deg, #62cdff 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #62cdff 0%,
    rgba(60, 51, 80, 0) 100%
  );
}